# Data Exploration

In [20]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd
import numpy as np
import scipy as sc

%matplotlib inline
import os
from os.path import join
from pprint import pprint
import tensorflow as tf
from tensorflow import keras as kr

In [21]:
d_path = os.path.dirname(os.getcwd())+"\desktop"
d_file = "historical_stock_prices.csv"
print(join(d_path,d_file))

C:\Users\EGEMEN\desktop\historical_stock_prices.csv

In [22]:
#Loading data
data = pd.read_csv(join(d_path, d_file))

# Giving basic information regarding the dataset such as shape, data types and descriptive statistics that summarize columns

In [23]:
# print shape
print('Data Dimensionality: ',data.shape)
print("There are " + str(data.shape[0]) + " rows and "+ str(data.shape[1])+" attributes in historical stock prices data")

Data Dimensionality:  (20973889, 8)
There are 20973889 rows and 8 attributes in historical stock prices data

In [24]:
# print attribute names
print('Attribute Names: ',data.columns)

Attribute Names:  Index(['ticker', 'open', 'close', 'adj_close', 'low', 'high', 'volume',
       'date'],
      dtype='object')

# Meanings of the attributes
* Ticker: The symbol for the stock
* open: The open price
* close: The close price
* adj_close: The adjusted close price
* low: The low price
* high: The high price
* volume: The volume
* date: The date

In [80]:
print("The number of stocks are: " +str((data['ticker'].nunique())))

The number of stocks are: 5685

In [25]:
# print first 5 rows in your dataset
print('Head of Data: ')
data.head()

Head of Data:

  ticker   open  close  adj_close    low   high   volume        date
0    AHH  11.50  11.58   8.493155  11.25  11.68  4633900  2013-05-08
1    AHH  11.66  11.55   8.471151  11.50  11.66   275800  2013-05-09
2    AHH  11.55  11.60   8.507822  11.50  11.60   277100  2013-05-10
3    AHH  11.63  11.65   8.544494  11.55  11.65   147400  2013-05-13
4    AHH  11.60  11.53   8.456484  11.50  11.60   184100  2013-05-14

In [26]:
# print data types of the columns
print('Data types: ',data.dtypes)

Data types:  ticker        object
open         float64
close        float64
adj_close    float64
low          float64
high         float64
volume         int64
date          object
dtype: object

In [27]:
data.isnull().sum()  # NaN counts in each column

ticker       0
open         0
close        0
adj_close    0
low          0
high         0
volume       0
date         0
dtype: int64

There is no missing value at any attribute or row so we are fine to proceed without preprocessing.

In [28]:
#Descriptive statistics of taxitrips data
data.describe()

,open,close,adj_close,low,high,volume
count,2.097389e+07,2.097389e+07,2.097389e+07,2.097389e+07,2.097389e+07,2.097389e+07
mean,7.605823e+01,7.611403e+01,1.481184e+14,7.422064e+01,7.803857e+01,1.227043e+06
std,2.849639e+03,2.870159e+03,4.574674e+16,2.746059e+03,2.997937e+03,1.316686e+07
min,4.000000e-04,2.000000e-04,2.282650e-09,1.000000e-04,4.000000e-04,1.000000e+00
25%,7.500000e+00,7.500000e+00,4.620000e+00,7.360000e+00,7.630000e+00,2.210000e+04
50%,1.545000e+01,1.545000e+01,1.138199e+01,1.524000e+01,1.566000e+01,1.260000e+05
75%,2.972000e+01,2.972000e+01,2.472046e+01,2.928000e+01,3.010000e+01,6.074000e+05
max,2.034000e+06,1.779750e+06,1.894962e+19,1.440000e+06,2.070000e+06,4.483504e+09

In [32]:
type(data['date'].iloc[0])

str

The date attribute is string type object. It is better to convert it to datetime object to wrangle.

In [33]:
data['date']= pd.to_datetime(data['date'])

In [34]:
type(data['date'].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

Now it's date time object.

In [54]:
data['date'].head()

0   2013-05-08
1   2013-05-09
2   2013-05-10
3   2013-05-13
4   2013-05-14
Name: date, dtype: datetime64[ns]

In [57]:
print("The minimum year of the dataset is: "+str(min(data['date'].dt.year))  )
print("The maximum year of the dataset is: "+str(max(data['date'].dt.year))  )

The minimum year of the dataset is: 1970
The maximum year of the dataset is: 2018

### Separating the data according to the economic recessions in the USA.

In [73]:
after_2009=data[data['date'].dt.year>2009]
between_2001_07=data[(data['date'].dt.year<2007) & (data['date'].dt.year>2001)]
between_91_2001=data[(data['date'].dt.year<2001) & (data['date'].dt.year>1991)]
between_82_90=data[(data['date'].dt.year<1990) & (data['date'].dt.year>1982)]
before_80=data[data['date'].dt.year<1980]

In [74]:
between_82_90.head()

,ticker,open,close,adj_close,low,high,volume,date
938,AMSWA,4.592593,4.592593,1.741648,4.592593,4.691358,449500,1983-02-28
951,AMSWA,4.543210,4.444445,1.685465,4.444445,4.543210,307800,1983-03-01
957,AMSWA,4.493827,4.493827,1.704193,4.493827,4.543210,168900,1983-03-02
971,AMSWA,4.493827,4.493827,1.704193,4.493827,4.543210,339000,1983-03-03
977,AMSWA,4.543210,4.543210,1.722921,4.543210,4.592593,532500,1983-03-04

In [62]:
print("The minimum year of the dataset is: "+str(min(after_2009['date'].dt.year))  )

The minimum year of the dataset is: 2010

So, splitting the data works as what we expected.

In [81]:
print('Row count of After 2009: ',after_2009.shape[0])
print('Row count of Between 2001 and 2007: ',between_2001_07.shape[0])
print('Row count of Between 1991 and 2001: ',between_91_2001.shape[0])
print('Row count of Between 1982 and 1990: ',between_82_90.shape[0])
print('Row count of Before 1980: ',before_80.shape[0])

Row count of After 2009:  9338934
Row count of Between 2001 and 2007:  3164685
Row count of Between 1991 and 2001:  3498670
Row count of Between 1982 and 1990:  1158835
Row count of Before 1980:  164499

In [83]:
nonrecessed_count=after_2009.shape[0]+between_2001_07.shape[0]+between_91_2001.shape[0]+between_82_90.shape[0]+before_80.shape[0]
print("We lost "+str(data.shape[0]- nonrecessed_count)+ " number of rows after separating the datasets. ")

We lost 3648266 number of rows after separating the datasets.

# Data Visualisation

# Machine Learning via Tensorflow